{% extends 'officials/base_officials.html' %}
{% block title %}View Items{% endblock title %}


{% block style_links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style_links %}
{% block content %}


{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  
 
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for field in orders %}

    
            <div class="col ">
              <div class="card h-100 ">
                <td colspan="2" class="text-center"> 
                  <img src="{% if field.photo %} {{field.photo.url}} {% endif %}" style="width:80%; height: 300px;" class="mb-3">
                </td>
                <div class="card-body">
                  
                  <p class="card-text">
                     
                      <p><strong>order status</strong>
                        {{ field.orderStatus }}</p>
                   
                    <p><strong>Name: </strong>{{ field.name }}</p>

                       <p><strong>Location:</strong>
                        {{ field.location }}</p>
                       
                        <p><strong>Review:</strong>
                          {{ field.review }}</p>
                       
                          <p><strong>Rating:</strong>
                            {{ field.rating }}</p>
                         
                        {% if field.orderStatus == 'prepared' %}
                        <button type="submit" style="background-color: rgb(111, 175, 206);" class="btn btn-outline-secondary add-btn" >
                          <a href="{% url 'students:HumChangeOrderStatustoDelivered' field.id %}" style="text-decoration: none;">
                             
                        
                              Delivered
                              
   
                          </a> 
                         </button> 
 
                        {% endif %}
                        
                        {% if field.orderStatus != 'delivered' %}
                        {% if field.orderStatus != 'cancelled' %}
                        <button type="submit" style="background-color: rgb(111, 175, 206);" class="btn btn-outline-secondary add-btn" >
                          <a href="{% url 'students:HumCancelOrder' field.id %}" style="text-decoration: none;">
                            

                              Cancel

                          </a> 
                        </button> 
                        {% endif %} 
                        {% endif %}


               



 
                        {% if field.orderStatus == 'delivered' %}

                        

                        <form action="{% url 'students:HumRating' field.id %}" method="post">
                          
 
                           {% csrf_token %}
                           <select id="search" name="search" >
                            <option value="0.0">Rate the food item</option>
                             <option value="1.0">1.0</option>
                             <option value="1.5">1.5</option>
                             <option value="2.0">2.0</option>
                             <option value="2.5">2.5</option>
                             <option value="3.0">3.0</option>
                             <option value="3.5">3.5</option>
                             <option value="4.0">4.0</option>
                             <option value="4.5">4.5</option>
                             <option value="5.0">5.0</option>
 
 
                           </select>
 
                           <input class="btn btn-primary" type="submit" value="submit">
                       
                           </form>

                           {% endif %}

                        
                        


                        <form action="{% url 'students:HumReview' field.id %}" method="post">
                        {% if field.orderStatus == 'delivered' %}
                     
                          {% csrf_token %}
                          <input id="search" name="search" type="text" class="query-search" 
                           placeholder="Review...">
               
                          <input class="btn btn-primary" type="submit" value="submit">
                          
                          
                          {% endif %}
                        </form>
                          








                        {% if field.rating != None %}
                       
                        <div class="rating-star">
                         <span title="{{ field.rating }}/5">
                         
                             <i class="fa fa-star{% if field.rating < 0.5%}-o{% elif field.rating >= 0.5 and field.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                             <i class="fa fa-star{% if field.rating < 1.5%}-o{% elif field.rating >= 1.5 and field.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                             <i class="fa fa-star{% if field.rating < 2.5%}-o{% elif field.rating >= 2.5 and field.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                             <i class="fa fa-star{% if field.rating < 3.5%}-o{% elif field.rating >= 3.5 and field.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                             <i class="fa fa-star{% if field.rating < 4.5%}-o{% elif field.rating >= 4.5 and field.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                         </span>
                         <span><strong>( {{ field.rating }}/5 )</strong></span>
                        </div>
                        {% endif %}

 
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
 

 </div>


  {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
  {% endif %}
</form>
  
{% endblock content %}


{% block script_links %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
{% endblock script_links %}
  