{% extends 'officials/base_officials.html' %}
{% block title %}View Items{% endblock title %}


{% block style_links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style_links %}
{% block content %}


{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  

  {{ form|crispy }}

  



  <div class="card-footer">
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-warning px-4 py-2">Order</button>
    </div>
  </div>
  {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
  {% endif %}
</form>
  
{% endblock content %}


{% block script_links %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
{% endblock script_links %}
  