{% extends 'officials/base_officials.html' %}
{% block title %}View Items{% endblock title %}


{% block style_links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style_links %}
{% block content %}


{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  
 
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for field in orders %}

    
            <div class="col ">
              <div class="card h-100 ">
                <td colspan="2" class="text-center"> 
                  <img src="{% if field.photo %} {{field.photo.url}} {% endif %}" style="width:80%; height: 300px;" class="mb-3">
                </td>
                <div class="card-body">
                  
                  <p class="card-text">
                 
                       

                        <p><strong>Name: </strong>{{ field.name }}</p>
                        <p><strong>Price:</strong>
                          {{ field.price }}</p>
                        <p><strong>customer_id</strong>
                          {{ field.customer_id }}</p>
                       
    
                           <p><strong>Location:</strong>
                            {{ field.location }}</p>
                            <p><strong>order status</strong>
                              {{ field.orderStatus }}</p>
                           
                           
                       
                   



                {% if field.orderStatus == 'processing' %}
                <button type="submit" style="background-color: rgb(111, 175, 206);" class="btn btn-outline-secondary add-btn" >
                  <a href="{% url 'students:ChangeOrderStatus' field.id %}" style="text-decoration: none;">
                     
                
                      Prepared
                      

                  </a> 
                 </button> 

                {% endif %}
               
                       

           

                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
 

 </div>


  {% if msg %}
    <br>
    <div class="row">
        <strong>{{msg}}</strong>
    </div>
  {% endif %}
</form>
  
{% endblock content %}


{% block script_links %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
{% endblock script_links %}
  