{% extends 'officials/base_officials.html' %}
{% block title %}View Items{% endblock title %}


{% block style_links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style_links %}
{% block content %}


{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  

  {{ form|crispy }}

<!DOCTYPE html>
 
  <head>
    <title>Payment Home</title>
</head>

<body>
    <h2>Payment Home</h2>
    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" required>
        <label for="password">Password: </label>
        <input type="text" name="password" required>
        <label for="amount">Amount: </label>
        <input type="number" name="amount" value="100">
        <input type="submit" name="submit" value="Submit" required>
    </form>

  
</body>

 

 

</form>
   
<form method="post">
  {% csrf_token %}
  

  {{ form|crispy }}

  



  <div class="card-footer">
    
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-warning px-4 py-2">Order</button>
    </div>
  </div>
  <div>


    

    
  </div>
   
</form>
  
{% endblock content %}


 



 
 