{% extends 'institute/base_public_pages.html' %}

{% block title %}Corporate Planning{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        CORPORATE PLANNING<br>
        Our Expertise In<br>
        
        Protection Plans<br>
        Wealth Creation Plans<br>
        Savings Plans<br>
        Child Plans<br>
        Retirement Plans<br>
        Money Back Plans<br>
        Key Man Insurance<br>
        Employer & Employee Insurance<br>

For more Information Write Us<br>

    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
