{% extends 'institute/base_public_pages.html' %}

{% block title %}Dev Team{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/cards.css' %}">
{% endblock style_links %}


{% block content %}
<div class="container-fluid my-5 pt-5">
  <div class="text-center">
    <h2 class="d-inline border-bottom border-info">Development Team</h2>
  </div> 
{% endblock content %}

{% block script_links %}
<script src="{% static 'institute/cards.js' %}"></script>
{% endblock script_links %}