{% extends 'institute/base_public_pages.html' %}

{% block title %}Fixed Deposit{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        FIXED DEPOSIT<br>
        Fixed Deposit<br>
        This is best suited for conservative investors who don't want to take any sort of<br>
        risk and are happy with moderate returns only.<br>
        Fixed deposits are one of the most preferred methods of investing money in India.<br>
        This is best suited for conservative investors who don't want to take any sort of<br>
        risk and are happy with moderate returns only<br>
        
        Benefits of investing in Fixed Deposits:<br>
        
        Safe and Secure<br>
        
        Fixed deposits or term deposits is one of the most secure investments. On<br>
        maturity the depositor will get the principal plus the interest earned during the<br>
        tenure of the deposit.<br>
        
        Even in case of default by the bank, which may happen in the rarest of cases, you<br>
        are assured of getting back any deposit up to Rs 1 lakh. Bank deposits are<br>
        guaranteed by the Deposit Insurance and Credit Guarantee Corporation.<br>
        
        Assured returns<br>
        Fixed deposits offer assured returns. Once the money is deposited, the bank has<br>
        to pay the interest rate agreed at the start. Even if interest rates fall before the<br>
        deposit matures, returns will not decrease. So, depositors know exactly how<br>
        much they will get when the deposit matures at the time of locking into the<br>
        deposit. Similarly, if interest rates rise during the maturity, returns will not<br>
        increase. But banks will give the option of breaking the deposit before maturity<br>
        and re-investing in a new deposit at higher rates.<br>
        
        Flexible Tenure<br>
        The tenure for a FD can range from as 5 years to 10 years. You can choose the<br>
        tenure depending on your needs and goals.<br>
        
        Easy to redeem<br>
        Fixed deposits can be redeemed anytime after 5 th year.<br>
        
        Loan against FD<br>
        
        Fixed deposits offer loan facility under which you can get up to 90% of the deposit<br>
        amount as loan. The interest rate for the loan works out cheaper than a personal<br>
        loan.
        

    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
