{% extends 'institute/base_public_pages.html' %}

{% block title %}General Insurance{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        GENERAL INSURANCE<br>
        Non-Life Insurance<br>
        Your home is your most precious asset. It takes lot of hard work, money and years<br>
        to build/ buy your dream home. So it is very important to secure it with home<br>
        insurance.<br>
        
        You need to secure your home & its valuable contents with home insurance<br>
        because:<br>
        
        Natural disasters like floods, earthquakes and cyclones are unpredictable and can<br>
        strike anytime Jewellery, cash and other valuable contents are prone to theft.<br>
        

    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
