{% extends 'institute/base_public_pages.html' %}

{% block title %}Gallery{% endblock title %}


{% block style_links %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="{% static 'institute/grid-gallery.css' %}">
{% endblock style_links %}


{% block content %}
<section class="gallery-block grid-gallery my-5 pt-5">
  <div class="container">
    <div class="heading">
      <h2 class="mb-4"> Gallery</h2>
      
    </div>
    <div background-image: url('{% static 'institute/amulya.jpg' %}');></div>

   </div>
</section>
{% endblock content %}

{% block script_links %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.grid-gallery', { animation: 'slideIn' });
</script>
{% endblock script_links %}