{% extends 'institute/base_public_pages.html' %}

{% block title %}Health Insurance{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        HEALTH INSURANCE<br>
        Health is the real wealth. Don't you agree?<br>
        
        No one plans to get sick or hurt, but most people require medical care at some<br>
        point or the other. Health insurance can help in protecting you from unexpected,<br>
        high medical costs.<br>
        
        4) Reasons why adequate health insurance is must for you?<br>
        Provides you with the best treatment in case of illness<br>
        No need to break your hard earned savings<br>
        No need to borrow money at high interest rates<br>
        Ensures peace of mind<br>
    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
