{% extends 'institute/base_public_pages.html' %}

{% block title %}Home{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
      <strong>
        <h4 style="color: black; font-weight:800; margin-bottom: 1.7em;" class="text-center">WELCOME TO KP FINCARE</h4> <br> </strong> 


I am Pradeep Naidu, the founder of KP Fincare, A Visakhaptnam based Insurance<br>
and Wealth services provider. We are Insurance Regulatory and Development<br>
Authority (IRDA) licensed advisors who will take care of your smallest query,<br>
Qualifying Member for MDRT/ JOTC and Member for Country Head Club. Over the<br>
last 8 years, we have been providing a suite of Insurance and Investment solutions<br>
to our 1280+ Indian and Non-resident Indian (NRI) clients.<br> <hr>

We specialize in Wealth Management Services and Insurance Consultancy<br>
services for all types of Insurances, such as Pension Plan, Health Insurance, Term<br>
Insurance, Children education/ Marriage/ Securing future, Financial Planning etc.<br>
We offer a wide range of plans of SBI Life to suits your diverse needs. Our <br>
investment advice is absolutely tailored to fit the client's short term and long term<br>
capital requirements.<br>

<hr>
Currently, we are offering Home loans, Commercial LAP loan services besides<br>
insurance products. We have been awarded multiple times by leading<br>
organization – SBI Life, SBI Home Loans and IDBI Home Loans for outstanding<br>
performance and service to clients. We will be glad to assist you or your near ones<br>
in understanding your Insurance and financial needs, analyzing reviewing your<br>
Insurance portfolio and helping you find the best tailor made solution.<br>
<hr>
<br>
<strong>
    <h4 style="color: black; font-weight:800; margin-bottom: 1em;" class="text-center">What We Do</h4> <br> </strong> 

1)LIFE INSURANCE 2)HEALTH INSURANCE 3)GENERAL INSURANCE 4)NRI 5)CORPORATE PLANNING 6)HOME LOANS<br> <br>

<hr>
<h4 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">LIFE INSURANCE</h4> <br> </strong> 
<strong>
Have you ever wondered what it the most valuable thing in your family's life? 
It is you.<br>

You take good care of your family; provide them with good food, clothing,<br>
education and the best of everything. Have you ever imagined what will happen 
to your family in your absence?<br>

Life insurance can help your family to continue with their existing lifestyle even if
you are not there in future.
<br>
5 Reasons why adequate life insurance is must for you<br>
<div class="col-12">
1)Promotes regular saving<br>

</div>
<div class="col-12">
2)Provides financial security for family<br>
</div>
<div class="col-12">

3)Helps you to save tax<br>
</div>

<div class="col-12">

4)Returns are tax-free<br>
</div>

<div class="col-12">

5)Maturity amount can be used for various goals <br> like Child education, children
marriage, retirement, foreign vacation or buying assets.<br>
</div>
<hr>
HEALTH INSURANCE<br>
Health is the real wealth. Don't you agree?<br>

No one plans to get sick or hurt, but most people require medical care at some<br>
point or the other. Health insurance can help in protecting you from unexpected,<br>
high medical costs.<br>

4) Reasons why adequate health insurance is must for you?<br>
Provides you with the best treatment in case of illness<br>
No need to break your hard earned savings<br>
No need to borrow money at high interest rates<br>
Ensures peace of mind<br>

GENERAL INSURANCE<br>
Non-Life Insurance<br>
Your home is your most precious asset. It takes lot of hard work, money and years<br>
to build/ buy your dream home. So it is very important to secure it with home<br>
insurance.<br>

You need to secure your home & its valuable contents with home insurance<br>
because:<br>

Natural disasters like floods, earthquakes and cyclones are unpredictable and can<br>
strike anytime Jewellery, cash and other valuable contents are prone to theft.<br>

NRI<br>
(Link to NRI Info)<br>

CORPORATE PLANNING<br>
Our Expertise In<br>

Protection Plans<br>
Wealth Creation Plans<br>
Savings Plans<br>
Child Plans<br>
Retirement Plans<br>
Money Back Plans<br>
Key Man Insurance<br>
Employer & Employee Insurance<br>

For more Information Write Us<br>

HOME LOANS<br>
(Link to Home Loan)<br>
---------------------------------<br>

Other Services<br>

MUTUAL FUND<br>
MEDICLAIM<br>
FIXED DEPOSIT<br>

MUTUAL FUND<br>
Mutual Fund<br>
A mutual fund is a pool of money from numerous investors which is collectively<br>
invested by a fund manager.<br>

Mutual Funds<br>
A mutual fund is a pool of money from numerous investors which is collectively<br>
invested by a fund manager. Investing in a mutual fund can be a lot easier than<br>
buying and selling individual stocks and bonds on your own. Mutual Funds offer<br>
both 100% debt to 100% equity and also hybrid products with combination of<br>
equity and debt. So why you should investors consider mutual funds?<br>

So why you should investors consider mutual funds?<br>
Mutual funds allow investors to pool in their money for a diversified selection of<br>
securities, managed by a professional fund manager. It offers an array of<br>
innovative products like fund of funds, exchange-traded funds, Fixed Maturity<br>
Plans, Sectoral Funds and many more.<br>

Benefits of investing in mutual funds: (Beat Inflation)<br>
Mutual Funds can help you to generate better inflation - adjusted returns,<br>
without spending a lot of time and energy on it.
<br>
Expert Management of your Money<br>
Mutual funds have a dedicated research team who assist the experienced fund<br>
manager to handle the financial decisions to achieve the objectives of the mutual<br>
fund scheme.<br>

Low Cost<br>
As compared to investing directly in capital markets, mutual funds offer the<br>
biggest advantage of low cost of investment.<br>

Diversification<br>
Mutual funds help mitigate risks to a large extent by distributing your investment<br>
across a diverse range of assets<br>

Liquidity<br>
Mutual funds offer high liquidity as you can withdraw your money anytime except<br>
in the case of ELSS schemes which have a<br>
lock-in period of 3 years.
<br>
Higher Return Potential<br>

Based on medium or long-term investment, mutual funds have the potential to<br>
generate a higher return, as you can invest in a diverse range of sectors and<br>
industries.<br>

MEDICLAIM<br>
Mediclaim<br>
Mediclaim is an insurance product which takes care of the expenses you incur in<br>
the event of hospitalization or domiciliary care.<br>
What is Mediclaim?<br>
Mediclaim is an insurance product which takes care of the expenses you incur in<br>
the event of hospitalization or domiciliary care. It can either reimburse your<br>
expenses when you submit relevant bills, or enable you to have an entirely<br>
cashless hospitalization depending on the policy purchased.
<br>
Mediclaim policies are available in a range of types such as individual policies,<br>
family floater policies, group policies, senior citizen policies, critical illness policies<br>
and special maternity policies.<br>

What all are covered under a Mediclaim policy?<br>
Mediclaim policies offer the following benefits and cover:<br>

Hospital charges<br>
Replace buttresses for improved working space.
<br>
Limit subsequent structural movement.<br>
Each Anchor is tested well above design load<br>
Only relatively small-diameter holes need to be drilled.<br>

Benefits of buying a Mediclaim policy<br>
You can get the best treatment in case of sudden illness or accident<br>
No need to break your long term savings<br>
No need to borrow money for treatment from relatives<br>
No need to sell property, due to lack of money for treatment<br>
Tax benefits – under Section 80D are available up to Rs.15,000 on mediclaim<br>
premiums for self, spouse and dependent children. An additional Rs.15,000 of tax<br>
exemption is available if you insure your parents, and Rs.20,000 if senior citizens.<br>

FIXED DEPOSIT<br>
Fixed Deposit<br>
This is best suited for conservative investors who don't want to take any sort of<br>
risk and are happy with moderate returns only.<br>
Fixed deposits are one of the most preferred methods of investing money in India.<br>
This is best suited for conservative investors who don't want to take any sort of<br>
risk and are happy with moderate returns only<br>

Benefits of investing in Fixed Deposits:<br>

Safe and Secure<br>

Fixed deposits or term deposits is one of the most secure investments. On<br>
maturity the depositor will get the principal plus the interest earned during the<br>
tenure of the deposit.<br>

Even in case of default by the bank, which may happen in the rarest of cases, you<br>
are assured of getting back any deposit up to Rs 1 lakh. Bank deposits are<br>
guaranteed by the Deposit Insurance and Credit Guarantee Corporation.<br>

Assured returns<br>
Fixed deposits offer assured returns. Once the money is deposited, the bank has<br>
to pay the interest rate agreed at the start. Even if interest rates fall before the<br>
deposit matures, returns will not decrease. So, depositors know exactly how<br>
much they will get when the deposit matures at the time of locking into the<br>
deposit. Similarly, if interest rates rise during the maturity, returns will not<br>
increase. But banks will give the option of breaking the deposit before maturity<br>
and re-investing in a new deposit at higher rates.<br>

Flexible Tenure<br>
The tenure for a FD can range from as 5 years to 10 years. You can choose the<br>
tenure depending on your needs and goals.<br>

Easy to redeem<br>
Fixed deposits can be redeemed anytime after 5 th year.<br>

Loan against FD<br>

Fixed deposits offer loan facility under which you can get up to 90% of the deposit<br>
amount as loan. The interest rate for the loan works out cheaper than a personal<br>
loan.

TESTIMONIALS<br>
Testimonials<br>

Recommended video
<br>
Grow Your Investment with Us<br>
Most people invest their money. But only few people know about the right way to<br>
invest. Investment is not just about increasing your wealth but also capital<br>
protection and reducing the risk exposure. When you partner with us for<br>
investing, we provide you 100 percent secured investment options which will not<br>
only protect your wealth but also increase your wealth and help you achieve your<br>
financial goals easily.<br>

Power of Compounding
<br>
------------------- ------------------------------ ----------------------- ---------------------------------<br>
Useful links
<br>
Home<br>
About Us<br>
Our Vision
<br>
Home Loan<br>
Gallery<br>
News<br>
Branch Locator<br>
Forms<br>

Contact Us<br>
30-91-13, Moon Field, High School Road, Appikonda RH Colony, Vadlapudi Post,<br>
Gajuwaka, Visakhapatnam – 530046<br>

Mail : kpfincare@gmail.com<br>
Contact: 7075753009, 9494294545<br>
    </strong></p>
</strong>
    
      
    </div>

   
<!-- </div> -->


{% endblock content %}
  