{% extends 'institute/base_public_pages.html' %}

{% block title %}KnowledgeCentre{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
        <p>
            <strong>
                INSURANCE POLICY FAQS | SBI LIFE <br>

What is life insurance? <br>
In case of an unfortunate event, like untimely demise of the breadwinner, is not<br>
only an emotional loss, but also a financial loss for his/her family. Life insurance is<br>
protection against such financial loss that results from the insured Individual's<br>
death.<br>
Simply put, life insurance provides you and your family with the financial security<br>
and certainty to deal with the consequences of an unfortunate event like death.<br>

Why should I buy life insurance?<br>
At different stages of life, you have different financial needs. In order to meet<br>
these needs, you need to protect yourself against financial risks. In addition to<br>
protection, you must find avenues to invest your savings and give them an<br>
opportunity to grow. Life insurance can help you fulfil both these financial<br>
objectives.<br>

What are the reasons for buying life insurance?<br><br>

Life Insurance majorly helps you in:<br>
Getting risk cover against unfortunate event<br>
Achieving life stage needs<br>
Long term investments<br>
Wealth creation<br>

Cover against Illness and accidents (Depending on plan opted)<br>
Coverage against liabilities<br>
Retirement planning<br>
Tax benefits as per prevailing tax laws<br>

How can life insurance help me?<br>
Life insurance can help you in a number of important ways:<br>

a. Protect your family that is financially dependent on you:<br>

If your family is financially dependent on you, then you definitely need to insure<br>
yourself. The most common reason to buy life insurance is that it provides<br>
protection to your family in case of any unforeseen events. The life insurance<br>
proceeds can be used to support your family members with living expenses.
<br>
b. Help your family deal with loans or liabilities:<br>

It is very important to insure yourself if you have taken a loan or mortgaged your<br>
assets. It not only provides peace of mind, but also a steady source of income for<br>
your family. For example, you will want to ensure that your family continues to<br>
live in the home you lovingly built, even if an unfortunate event occurs.<br>

c. Also aids in saving-cum-investment:<br>

A endowment life insurance policy can be used as a compulsory saving-cum-<br>
investment option. Proceeds from the insurance policy can be used to fund future<br>
expenses such as child's higher education or retirement funds or even a well-<br>
deserved holiday.<br>

d. Safeguard your business interests:<br>

If you are a partner in a firm or you have your own proprietorship firm, life<br>
insurance can be a critical component for specialized business applications - such<br>
as funding a buy-sell agreement. In case of in Key Man Insurance scheme, the<br>
proceeds of a life insurance policy could be used to provide cash for the purchase<br>
of a deceased owner's interest in the business or to pay off business liabilities.<br>

What are the basic elements of life insurance?<br>
The two basic elements of life insurance for all individuals are:<br>

Risk coverage<br>
Savings for the future<br>

When should I insure?<br><br>
The short answer to this question is – as early as you can.<br>

If you have just started working but are not married yet, you should consider<br>
buying a policy now, as it costs less now than when you are older. The policy will<br>
also protect your parents/siblings who may be financially dependent on you.<br>

If you are married and have children or plan to have children, it is very important<br>
for you to insure yourself (assuming that you are the breadwinner) to protect and<br>
save for your family's future.<br>

It is never too late to buy an insurance policy. Even if you are 45, and are not<br>
insured, you could choose insurance products that provide benefits to your family<br>
and provide income during your retirement period.<br>

On what basis will my life insurance premium be determined?<br>
Your life insurance premium, which is the cost of buying life insurance, will<br>
depend upon:<br>
Your age, health and the nature of your work<br>
Type of policy selected<br>
Sum assured<br>
Policy term<br>
Premium paying term<br>
Premium payment frequency<br>
Riders (if any) attached to the policy<br>

How do I reduce the cost of buying life insurance?<br>
The cost of the policy (premium amount) can be lower if you:<br>

Buy insurance at an early age, while the risk is lower.<br>
Insure yourself for a long period.<br>
Offer to pay premium annually, thereby receiving discounts, if any.<br>
Buy riders at nominal price for a comprehensive coverage
<br>
What are the various types of life insurance policies?<br>
Life Insurance policies can be classified into different segments depending on the<br>
lifestage need it is catering to:<br>

Protection Plans - A life insurance policy which provides an insurance cover upon<br>
the death of the life assured within the policy term as per the terms and<br>
conditions of the contract.<br>
Savings Plan – Plans in which policyholder along with insurance cover receives a<br>
certain amount on maturity or upon completion of a specified term.<br>
ULIPs – Insurance plans providing option to invest in any number of qualified<br>
investments such as equity, bonds etc along with life cover are called Unit Linked<br>
Insurance Plans (ULIPs). These policies offer a combination of investment and life<br>
protection with flexibility and choice to policyholder on how premiums are<br>
invested.<br>

Joint Life – Plan which insures two people jointly under one policy. E.g., a husband<br>
and a wife can be issued one policy, with both being the policyholder and the life<br>
insured.<br>
Child Plans – Plans which protects a Childs future by providing financial support<br>
for the child&#39;s higher education, marriage, etc., in case anything unforeseen<br>
happens to the parent. These policies are taken on the life of parent/children for<br>
the benefit of the child.<br>
Retirement plans – These are also referred to as Pension plans, offered to help<br>
individuals build a retirement corpus. On maturity, this corpus is invested for<br>
generating a regular income stream, which is referred as pension or annuity.<br>

Should I buy insurance as an investment?<br>
Some insurance policies are excellent avenues for investment. You can choose<br>
from a variety of plans that let you select your own investment options based on<br>
your risk appetite and the need analysis which your insurance advisor can conduct<br>
for you. You can opt for a plan that offers a fixed guaranteed rate of return or<br>
select a plan that offers market-linked returns. You can also choose a mix of both<br>
types of investments in your plan.<br>

What is Group Life Insurance?<br>
Group insurance policies covers a group of individuals usually employees of the<br>
same company, members of the same union or members of a homogenous group.<br>
It is usually without medical examination and is is typically issued to an employer<br>

for the benefit of employees or to members of an association, for example a<br>
professional membership group. The individual members of the group hold<br>
certificates as evidence of their insurance.<br>

Which type of life insurance policy is best for my needs?<br>
The type of policy that suits you best depends on many factors, such as your<br>
insurance objectives, current insurance policies, your income, assets, liabilities,<br>
number of dependent members in your family and your expenses.<br>

It is advisable to have a portfolio of policies with varied benefits, as a single policy<br>
cannot meet all your insurance objectives.<br>

You can carry out your need analysis to find out the policy best suited for you<br>

What is Term plan in life insurance?<br>
Term insurance covers “risk to life”, which means death, for a specific term.
<br>
Upon your death (during the term of the policy), spre-pecified benefits are paid to<br>
your beneficiary./nominee(to check)
No maturity benefit under Term policies except for Term with Return of Premium<br>
policies (Term ROP), where a specified percentage of premiums paid are payable<br>
on survival till the end of the policy term.<br>

Term plans are lower in cost (premium) compared to all other types of life<br>
insurance policies since they offer pure protection without any component of<br>
savings or investment.<br>

What is an Endowment Policy?<br>
Endowment policies provide protection as well as savings. These plans provide<br>
Life cover giving death benefit to the nominee in case the life assured dies during<br>
the policy term or provide benefits to the life assured in case he survives the<br>
specified time (survival benefit) or full policy term (maturity benefit).<br>

Types of Endowment policies<br>

These are classified into two types - Endowment - without profit and Endowment<br>
- with profit policies:<br>

Endowment - without profit policies<br>
These plans are traditional plans that do not participate in the profits of the<br>
company, but have guarantees in form of Guaranteed / Loyalty Additions<br>
declared upfront at the policy inception.<br>
Endowment - with profit policies<br>
These plans are traditional plans that participate in the profits of the company by<br>
way of regular bonuses declared.<br>

What is a Money back policy?<br><br>
Money Back Plans are the plans which provide periodic payments at the end of
specified policy years along with death and maturity benefits.
<br>
These plans pay a certain percentage of sum assured at specified intervals.<br>
Upon death of life assured, nominee will receive the full sum assured plus bonus<br>
for the number of years the policy was in force.<br>
This money received during the term of the policy is tax-free subject to prevailing<br>
tax laws.<br>

What is a Whole Life policy?<br>
Such policies provide life cover for entire life of the insured on Survival/maturity<br>
and death benefits
<br>
Upon the death of the insured, the nominee receives the sum assured plus the<br>
bonus, if any.<br>
Whole Life policies typically offer no survival benefits, since there is no definite<br>
term to the policy. However, you can make withdrawals or take loans against the<br>
cash value of the policy.<br>
Typically, the cash value (the interest or bonus earned on the premium) of a<br>
Whole Life policy is higher than that of an Endowment - with profit policy.<br>
The premium for a Whole Life policy is paid for a longer duration of time (since<br>
the insurance coverage term is longer). However, you have the option of selecting<br>
the premium paying term.<br>

What is a Unit-linked Insurance Plan (ULIP)?<br>
Unit Linked Insurance Plans are long term investment with protection plans that<br>
offer you an opportunity of availing market linked returns while providing life<br>
insurance protection
<br>
These offer an ideal mix of protection and wealth creation. The amount invested<br>
in ULIPs is allocated towards risk coverage and purchase of 'units' having net asset<br>
value (NAV). The returns earned on such a policy are transparent (unit-linked)<br>
since they can be tracked on a daily basis. A small proportion of the premium is<br>
allocated towards administrative costs.<br>

Based on your risk appetite and investment objective, you can choose the various<br>
funds managed by SBI Life or combination of various funds.<br>
Apart from savings, tax benefits* and life cover, ULIP also provide the following<br>
benefits :<br>
Potential for good returns through investment in equity and debt<br>
Flexibility and control of your investments through:<br>
Fund switch (movement of money between funds)<br>
Premium redirection (future allocation of premiums in chosen funds)<br>
Partial withdrawals (withdrawal of a specific amount from the invested amount in<br>
case of emergencies)<br>
* Subject to prevailing tax laws<br>

What is a Child Plan?<br>
Plans which protects a Childs future by providing financial support for the childs<br>
higher education, marriage, etc., in case anything unforeseen happens to the<br>
parent. These policies are taken on the life of parent/children for the benefit of<br>
the child.
<br>
With Child plans, the parent can plan to get funds at important life stages of the<br>
child. Some life insurance plans offer waiver of premiums in case of unfortunate<br>
death of parent/proposer during the term of the policy, so that child continues to<br>
get benefits under the policy.<br>

What is Pension plan?<br>
Pension Plans/ Retirement plans are designed as long term savings tools for<br>
creating retirement corpus. These plans serve specific purpose of Retirement<br>
funding and therefore provide limited liquidity during the accumulation phase<br>
(during the policy term) and also on vesting (i.e. Maturity of the Deferred Pension<br>
Plans). These plans are distinct from other plans which are majorly taken to cover<br>
risk in case of unfortunate event. Following options are provided at vesting stage:<br>

Purchase of annuity from entire proceeds<br>
Commute up to 1/3rd of policy proceeds and purchase annuity with the balance<br>
vesting amount^^<br>
Defer the vesting date or extend the accumulation / deferment period<br>

Utilize the entire proceeds to purchase a single premium deferred pension<br>
product.<br>
^^as per current Income Tax rules in India, which are subject to change from time<br>
to time.<br>

Note: Please refer sales brochure of respective insurance products for more<br>
details about features, risk factors and Terms & Conditions.<br>

As An Investment<br>
Apart from risk cover life insurance also offers the benefit of regular savings.<br>
Whole life plans, Unit Linked Insurance Plans (ULIP), endowment or money-back<br>
policies etc offer a mix of life cover and savings. In a whole life plan the policy<br>
holder is covered till death or on reaching 100 years of age. If the insured<br>
individual lives beyond the age of 100, he/she receives a maturity benefit and in<br>
the case of any unfortunate event, his/her nominees receive the death benefit. A<br>
whole life insurance policy also accumulates a cash value that's accumulated<br>
throughout the life of the policy.
<br>
Providing Financial Security<br>
Life insurance provides you with that unique sense of security that no other form<br>
of investment provides. By buying life insurance, you buy peace of mind and are<br>
prepared to face any financial demand that would hit the family in case of an<br>
untimely demise. It can also help your family to enjoy their current lifestyle in<br>
your absence without compromising on their dreams.<br>

Tax Planning<br>
Life insurance can be a valuable tool in tax planning. Apart from helping you save<br>
tax on insurance premium paid by you up to the extent of 1.5 lakhs yearly, it also<br>
offers tax free maturity in most insurance policies.<br>

As An Emergency Fund<br>
The cash value accumulated on your insurance policy can be used as an<br>
emergency fund in case of financial crisis. Most regular life insurance policies also<br>
offer the facility of loan which can also come in handy if you are facing a cash<br>
crunch.<br>
FAQS - TAX BENEFITS ON LIFE INSURANCE PREMIUM UNDER SECTION 80C, 80D, <br>
10D, 10A | SBI LIFE <br>

What are the Income Tax benefits available under insurance policies? <br>
Indian Insurance Industry Update Life Insurance Policies<br>

Tax benefit on premium paid<br>
Income tax benefit/deduction on premium paid is available under section 80C of<br>
the Income Tax Act, 1961 ("Act). In case the premium paid during the financial<br>
year exceeds 10% of the sum assured, the benefit will be limited up to 10% of the<br>
sum assured.<br>
Tax benefits on ULIP<br>
Finance Bill proposed that, if premium payable by a person for one ULIP or more<br>
than one ULIP issued on or after 1 Feb, 2021 in an aggregate exceeds ₹ 2,50,000<br>
for any of the financial year during the term of policy, then exemption u/s<br>
10(10D) will not be available in respect of such policies. These amendments are<br>
subject to passing the bill in parliament and issuance of guidelines by CBDT in this<br>
regard.<br>
Tax benefit on maturity/surrender value<br>
Income tax exemption under section 10(10D) of the Act is available at the time of<br>
maturity/surrender, subject to the premium not exceeding 10% of the sum<br>
assured in any of the years during the policy term<br>
Tax benefit on death proceeds<br>
Death proceeds are not taxable. However, this is subject to conditions under<br>
section 10(10D) of the Act.<br>

TDS on proceeds<br>
Insurance proceeds, which are non-exempt under section 10(10D) of the Act, may<br>
be subject to TDS as per the prevalent income tax laws applicable to Resident<br>
Indians and Non Resident Indians(NRI's)*.<br>
*Subject to Double Taxation Avoidance Agreement (DTAA) in case of NRI's<br>

Pension/Annuity Policies<br>

Tax benefit on premium paid<br>
Income tax benefit/deduction is available on premium paid, under section 80CCC<br>
of the Act.<br>
Tax benefit on pension proceeds<br>
On vesting, the policy holder can withdraw up to 60% of the policy proceeds<br>
which is exempt from tax under Section 10(10A)(iii) of the Act. 40% of the balance<br>
outstanding in the Accumulated fund value will be compulsory invested in annuity<br>
product of SBI Life only. The non-commuted pension proceeds taken in the form<br>
of immediate annuity are taxable in the hands of the recipient.<br>
Tax benefit on death proceeds<br>
The lump sum death proceeds are not taxable.<br>

What are the taxes/cess applicable on insurance premium/ULIP charges?<br>
Taxes/cess applicable on insurance premium/ULIP charges<br>

Goods & Service Tax (GST)/ Cess and/or any other statutory levy/ duty/ surcharge,<br>
at the rate notified by the Central Government/ State Government / Union<br>
Territories of India from time to time, shall be levied on premium / charges (as<br>
applicable) as per the provisions of the prevalent tax laws.<br>

In case of Non-Linked Insurance/Traditional Plans:<br>

Base Premium<br>
Rider Premium (if any)<br>
Any other charge(if applicable)<br>
In case of Unit Link Insurance Plans (ULIP):<br>

Mortality Charges<br>
Policy Administration Charges<br>
Fund Management Charges<br>
Discontinuance / Surrender Charges, if any<br>
Partial Withdrawal Charges, if any<br>
Any other charge (if applicable)<br>
Disclaimer: All the above mentioned provisions, as applicable, are as per the<br>
prevalent Tax laws in India and subject to change from time to time. Please<br>
consult your tax advisor for details.<br>

What do I get if I survive the policy term?<br>

If you survive the policy term, then you are eligible to receive maturity benefit as<br>
explained in your policy document.
<br>
Most Term Insurance policies however do not have any maturity value. However<br>
some Term Insurance plans do offer return of full or part of the premiums paid<br>
upon maturity.<br>

The details of payout to be received upon maturity of your policy would be<br>
enumerated in the Terms and Conditions of the policy document.<br>

Will my family receive the insurance amount immediately after my death?<br>
At SBI Life, we strive to make the claim amount available as quickly and as easily<br>
as possible. Usually the Death Claim amount is made available to the nominee<br>
within a period of 1 month of submission of all requirements.<br>

In case where Claim Investigations are prescribed however, this period could be<br>
increased to 6 months.<br>

How do I collect the maturity amount from SBI Life?<br>
As you approach the maturity date of your policy, we will intimate you in advance<br>
about the form and documents to be submitted for collecting the maturity<br>
proceeds. In In case you do not receive such intimation, then you can yourself<br>

walk into any of our branch offices and collect the necessary forms and<br>
documents needed to process the claim.
<br>
Once all the required documents are duly completed, signed and submitted at<br>
any of our branch offices, the payment will be sent to you either by a cheque via<br>
post or a direct credit will be made into your bank account, as chosen by you.<br>

What does my family get on my death?<br>
On death during policy term<br>
On death of Life Assured during the policy term, death benefit as explained in the<br>
policy document will be paid to your nominee.
<br>
On death due to accident<br>
If death takes place due to an accident, and if the policy purchased was with<br>
accidental benefit rider, then your nominee is entitled to receive both the Basic<br>
Sum Assured as well as the Accidental Sum Assured.<br>

What is Fund Value? <br>
Fund Value is the total number of units under the funds and the corresponding<br>
NAVs<br>

You can check out the latest Net Asset Value (NAV) of your funds<br>

Via SMS : Send FV &lt;&lt;space&gt;&gt; (Policy Number) to 56161 OR 9250001848<br>
By giving a missed call to 022-27599901<br>
By logging on to the customer self service portal<br>
By calling the customer care at 1800-267-9090<br>
You will also receive a Fund value statement at each Policy Anniversary and after<br>
any payment or withdrawal.<br>

What is Deferment Period?<br>
It is the period between the date of subscription to an insurance-cum-pension<br>
policy and the date on which you receive the first installment of pension. Such<br>
policies generally prescribe a minimum and maximum limit on the deferment<br>
period.
<br>
What is Redirection?<br>
Redirection or Premium Redirection refers to changing the proportions in which<br>
your future contributions will get invested into the different funds chosen by you.<br>

You should note that redirection will only impact the way future contributions are<br>
invested and does not affect the composition of existing amounts lying in<br>
different funds.<br>

SBI LIFE SERVICES - FREQUENTLY ASKED QUESTIONS (FAQS) <br>

Can I change my nominee? If yes, how?<br>
Yes, you can change your nominee. Submit the Change in Nomination Form to us<br>
at the nearest SBI Life Branch or at the Central Processing Centre (address given<br>
below).<br>

SBI Life Insurance Co. Ltd.<br>
Central Processing Center<br>
8th Level, F2 Wing, Seawoods Grand Central,Tower 2,<br>
Sector-40, Seawoods, Nerul Node,Navi Mumbai-400 706
<br>
How do I change my address?<br>
You can choose from any of the three options to change your address –<br>

a) On the Online Customer Portal My Policy<br>
Select the ‘Address Change’ option on the portal, change your address and attach<br>
the address proof.<br>
b) At the nearest SBI Life Branch<br>
Visit your nearest SBI Life Branch and submit the Request for Change in Contact<br>
Details Form along with the address proof.<br>

How do I change my allocation percentage or switch between funds?<br>

You can change your allocation percentage or switch between funds by filling the<br>
Fund Switch and Redirection Form and submitting it at the nearest SBI Life<br>
Branch. You can also fax it to us at 022-66456105<br>

Where should I pay my premium?<br>
In order to make premium payment hassle-free, we offer various online and<br>
offline options for you to pay your premium. You can view all these options on the<br>
Premium Payment Procedure page and choose the mode that is most convenient<br>
to you.<br>

I have not paid premium for some time. I want to discontinue my policy. Do I get<br>
anything back from the insurance company?<br>
For Non-Linked products, you can surrender your policy only if it has acquired a<br>
paid-up value
<br>
For your policy to acquire a surrender value, typically your policy should have run<br>
for a specified period and you should have paid a minimum number of premiums.<br>

Further, for Linked products, there is a lock in period during which the surrender<br>
value is not available for withdrawal.<br>

The surrender value payable is defined in your policy document.<br>

I have not paid premium for some time. Can I revive my policy?<br>
If premiums are not paid within the grace period, which is 15 days for monthly<br>
frequency policies and 30 days for other premium payment frequencies, your<br>
policy lapses.<br>

When your policy lapses, the benefits under the policy either get reduced or<br>
cease fully.
<br>
A lapsed policy can be revived within a specified period of time called the “Revival<br>
period”. Refer your policy document for the revival period allowed for your policy.<br>

What do I do if I lose/misplace my insurance policy?<br>
If you lose your insurance policy, you can apply for a duplicate policy document.<br>

You will be required to pay the document preparation charges and also sign an<br>
indemnity. If the value of the policy is high, you may also be asked to provide a<br>
surety along with the indemnity.<br>

Will my premium amount increase after I have bought a policy?<br>
In case of life insurance policies, the “Basic premiums” payable are normally<br>
&quot;Level Premiums&quot; and they remain constant (or level) throughout the term of the<br>
policy.

The installment premium, which is the basic premiums plus the applicable taxes<br>
as levied by the government from time to time, will however change due to<br>
change in the premium payment frequency or change in the applicable taxes.
<br>
Further, when your premium or the cost of insurance may change when a revival<br>
of your lapsed policy is accepted with revised terms.<br>

Why is a medical examination required when buying insurance?<br>
Current health status and personal medical history are key factors in insurance<br>
evaluation process. While low Sum Assured is granted basis the health disclosures<br>
in the proposal form, in high Sum Assured cases medical examination of the client<br>
is conducted through the empanelled Diagnostic Centers. Similarly, if client is<br>
having any medical history then also medical examination is needed to evaluate<br>
current health status of the client. Based on medical examination findings an<br>
insurance proposal can be accepted at standard rates or the risk is postponed or<br>
declined or accepted with extra premium on health grounds.
<br>
What is vesting age?<br>
Vesting age is the maturity age for a pension plan. This is the time when the<br>
annuity plan begins payouts to the policyholder. The payout depends on the type<br>
of annuity option chosen, i.e. immediate or deferred. Immediate annuity enables<br>
lump sum payment to the policyholder and deferred annuity enables payouts at<br>
regular intervals depending on the terms and conditions of the plan.
<br>
How do I understand a life insurance Policy?<br>
It is necessary to know the following key terms in order to understand a life<br>
insurance policy:
<br>
Premium<br>

Premium is the amount of money (price) you have to pay to continue your<br>
insurance policy. The premium amount depends on:<br>

Your age<br>
Policy selected<br> 
Mode of premium payment                                                                <br>      
Term of premium payment<br>
Term of the policy<br>
You can choose to pay premium monthly, quarterly, half yearly, annually or as a<br>
Single payment.<br>
<br>
Term<br>
<br>
Term stands for the number of years you choose to insure yourself.<br>
<br>
Policy terms vary for different plans. Some policies have fixed terms while others<br>
offer you a range of terms.<br>
<br>
It is the period, in years, during which the contractual benefits are payable<br>
<br>
Premium paying term<br>
<br>
It refers to the number of years you pay premium on your policy.<br>
<br>
Usually the premium paying term is the same as the policy term. However, some<br>
policies offer you the option of selecting a premium paying term that is lower<br>
than the policy term.<br>
<br>
Sum Assured / Face Amount<br>
<br>
Sum Assured (SA) is the agreed amount payable under the policy, upon the<br>
happening of insured events(e.g. Death, Maturity, Rider Benefit payout etc) in<br>
relation to Life Assured (LA is the person whose life is covered under the<br>
insurance contract).<br>
<br>
Bonus / Participating Profit<br>
<br>
Bonuses are declared under traditional participating policies i.e the policies that<br>
participate in the profits of Insurance company.<br>
<br>
Bonus is based on an insurance company’s assumptions about the future<br>
performance. Like any other assumption, actual results will vary.<br>
<br>
Survival Benefit<br>
<br>
It is the amount of money received at pre-fixed, regular intervals by the insured<br>
person, upon survival.<br>
<br>
Maturity Benefit<br>
<br>
It is the amount of money received by the insured, upon survival till the end of<br>
policy term.<br>
<br>
Cover or Death Benefit<br>
<br>
Life cover or death benefit is the amount of money the nominee receives from<br>
the insurance company upon the insured’s death.<br>
<br>
If additional riders such as Accident Death Benefit or Additional Sum Assured have<br>
been selected, the amount of money receivable by the nominee could be higher.<br>
<br>
Returns or Pre-tax yield<br>
<br>
Interest earned on the premium, on a compounded basis, is the pre-tax yield.<br>
<br>
Post-tax yield<br>
<br>
Many life insurance policies entitle the policy holder to tax benefits on the<br>
premium paid. If the premium is used as a tax deduction under section 80C, then<br>
the effective premium paid by the insured is lower. Interest earned on the<br>
effective premium, on a compounded basis, is known as the post-tax yield.<br>
<br>
What is Fund Value?<br>
Fund Value is the total number of units under the funds and the corresponding<br>
NAVs<br>
<br>
You can check out the latest Net Asset Value (NAV) of your funds<br>
<br>
Via SMS : Send FV &lt;&lt;space&gt;&gt; (Policy Number) to 56161 OR 9250001848<br>
By giving a missed call to 022-27599901<br>
By logging on to the customer self service portal<br>
By calling the customer care at 1800-267-9090<br>
You will also receive a Fund value statement at each Policy Anniversary and after<br>
any payment or withdrawal.<br>
<br>
What is switching?<br>
Your contributions to a unit linked insurance policies (ULIPs) are invested in<br>
different funds as per your choice. Each fund has its distinct investment objective<br>
and risk profile.<br>
<br>
You may wish to move your money from one fund to another due to a change in<br>
your investment outlook for a given fund and/or your risk appetite.<br>
<br>
Such a movement of your money from one fund to another fund available to you<br>
in your life insurance plan, is termed as switching.<br>
<br>
You should note that switching of the amount from one fund to another does not<br>
alter the proportion in which your new premium contributions will get allocated.<br>
<br>
What is Redirection?<br>
Redirection or Premium Redirection refers to changing the proportions in which<br>
your future contributions will get invested into the different funds chosen by you.<br>
<br>
You should note that redirection will only impact the way future contributions are<br>
invested and does not affect the composition of existing amounts lying in<br>
different funds.<br>
<br>
What is Grace Period?<br>
Premiums under your policy are payable on or before the due date. However, we<br>
understand that sometimes you may not be able to meet the premium payment<br>
deadline. To help you with this, we offer an extended period of 15-30 days from<br>
the due date as grace for you to make the payment of premium. This period is<br>
<br>
referred to as days of grace or grace period. The exact grace period depends upon<br>
the type of policy.<br>
<br>
What is Deferment Period?<br>
It is the period between the date of subscription to an insurance-cum-pension<br>
policy and the date on which you receive the first installment of pension. Such<br>
policies generally prescribe a minimum and maximum limit on the deferment<br>
period.<br>
<br>
What is the difference between &quot;Nomination&quot; &amp; &quot;Assignment&quot;?<br>
Nomination is an act by which you authorize another person to receive the policy<br>
money in the event of your death. The person so authorized is called a Nominee.<br>
<br>
Assignment is a method by which you (policy holder) can transfer your right, title<br>
and interest in the policy to another person either wholly or in part. An<br>
assignment can be made by an endorsement on the policy document or as a<br>
separate deed. Assignment can be Absolute or conditional contingent upon the<br>
happening of a specified event.<br>
            </strong>
        </p>
    </div> 

<!-- </div> -->
{% endblock content %}