{% extends 'institute/base_public_pages.html' %}

{% block title %}Life Insurance{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        <h4 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">LIFE INSURANCE</h4> <br> </strong> 
        <strong>
        Have you ever wondered what it the most valuable thing in your family's life? 
        It is you.<br>
        
        You take good care of your family; provide them with good food, clothing,<br>
        education and the best of everything. Have you ever imagined what will happen 
        to your family in your absence?<br>
        
        Life insurance can help your family to continue with their existing lifestyle even if
        you are not there in future.
        <br>
        5 Reasons why adequate life insurance is must for you<br>
        <div class="col-12">
        1)Promotes regular saving<br>
        
        </div>
        <div class="col-12">
        2)Provides financial security for family<br>
        </div>
        <div class="col-12">
        
        3)Helps you to save tax<br>
        </div>
        
        <div class="col-12">
        
        4)Returns are tax-free<br>
        </div>
        
        <div class="col-12">
        
        5)Maturity amount can be used for various goals <br> like Child education, children
        marriage, retirement, foreign vacation or buying assets.<br>
        </div>

    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
