{% extends 'institute/base_public_pages.html' %}

{% block title %}Med Claim{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
    <p><strong>
        MEDICLAIM<br>
        Mediclaim<br>
        Mediclaim is an insurance product which takes care of the expenses you incur in<br>
        the event of hospitalization or domiciliary care.<br>
        What is Mediclaim?<br>
        Mediclaim is an insurance product which takes care of the expenses you incur in<br>
        the event of hospitalization or domiciliary care. It can either reimburse your<br>
        expenses when you submit relevant bills, or enable you to have an entirely<br>
        cashless hospitalization depending on the policy purchased.
        <br>
        Mediclaim policies are available in a range of types such as individual policies,<br>
        family floater policies, group policies, senior citizen policies, critical illness policies<br>
        and special maternity policies.<br>
        
        What all are covered under a Mediclaim policy?<br>
        Mediclaim policies offer the following benefits and cover:<br>
        
        Hospital charges<br>
        Replace buttresses for improved working space.
        <br>
        Limit subsequent structural movement.<br>
        Each Anchor is tested well above design load<br>
        Only relatively small-diameter holes need to be drilled.<br>
        
        Benefits of buying a Mediclaim policy<br>
        You can get the best treatment in case of sudden illness or accident<br>
        No need to break your long term savings<br>
        No need to borrow money for treatment from relatives<br>
        No need to sell property, due to lack of money for treatment<br>
        Tax benefits – under Section 80D are available up to Rs.15,000 on mediclaim<br>
        premiums for self, spouse and dependent children. An additional Rs.15,000 of tax<br>
        exemption is available if you insure your parents, and Rs.20,000 if senior citizens.<br>


    </strong>
    
      
</div>


<!-- </div> -->


{% endblock content %}
