


{% extends 'institute/base_public_pages.html' %}

{% block title %}NRI Info{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">



<p>

    <strong>






<strong> NRI Info <br></strong>

Enrollment                                                                               <br>

We offer various insurance plans for NRIs that provide protection and opportunity<br>

for savings and wealth creation. The information below will help you understand<br>

how you can enroll with us.<br>

<br>

Non Resident Indians:<br>

<br>

A non-resident Indian is a citizen of India temporarily residing in the country of<br>

his/her present residence and holding a valid passport issued by the Government<br>

of India.<br>

<br>

Policies are issued in Indian Rupees only.<br>

NRIs/PIOs are allowed insurance on their visit to India where all formalities are<br>

completed during their stay in India.<br>

NRIs/PIO can also obtain insurance cover from their present country of residence<br>

under exceptional circumstances where all formalities are completed in their<br>

country of residence.<br>

<br>

Requirements to apply for Life Insurance:<br>

- Duly filled Proposal Form<br>

- Proof of age &amp; income<br>

- A recent photograph<br>

<br>

- Initial deposit equivalent to installment premium under the proposed plan of<br>

insurance<br>

- Copy of Bank account in India (premium to be paid from a bank account in<br>

India/NRE account)<br>

- Duly attested passport copy<br>

- NRI Questionnaire (refer annexures)<br>

- Permanent address in India along with the proof (if different from the mailing<br>

address)<br>

- Pan card or Form 60 where premium (total annualized premium under all<br>

policies) paid is 50,000 &amp; above<br>

- FATCA form for NRI as well as PIO/OCI details of TIN number to be quoted where<br>

- proposer is tax resident of country outside India<br>

- Email ID<br>

- Medical tests wherever applicable<br>

Other Conditions:<br>

- Proposal Form needs to be signed in India<br>

- Under exceptional cases, Proposal Form signed abroad will be considered if the<br>

same is witnessed by:<br>

- The employer in case of employed persons<br>

- Dean or Principal of educational institutes in the case of students<br>

- Banker (Abroad) of the Proposer (SBI)<br>

- Indian Consulate / Indian Embassy official<br>

- Notary/Attorney working in the country of residence of NRI<br>

- Justice of Peace appointed by the State in the country of residence<br>

- Other Government officials with their identification documents attached<br>

<br>

- Medical tests have to be done in India except when the Proposal Form has been<br>

signed outside India. The list of medical tests to be conducted &amp; format of the<br>

medical report (FMR) will be shared with the client by our SBI Life official.<br>

<br>

Riders offered<br>

- Accident Death Benefit Rider<br>

- Accidental Total and Permanent Disability Benefit Rider<br>

- Term Rider<br>

- Premium Waiver Benefit Rider<br>

<br>

- No riders will be offered to rated up countries (nonstandard countries), however<br>

riders are country specific and the same will be offered at the discretion of SBI<br>

Life.<br>

<br>

People of Indian Origin having foreign nationality and residing in foreign<br>

countries:<br>

- Person of Indian Origin (PIO) or Overseas Citizen of India, for this purpose is<br>

defined as a citizen of any country other than Bangladesh, Nepal, Sri Lanka or<br>

Pakistan, if<br>

- S/he at any time held Indian passport or<br>

- S/he or either of his/her parents or any of his/her grandparents was a citizen of<br>

India by virtue of the Constitution of India or the Citizenship Act, 1955 (57 of<br>

1955); or<br>

<br>

- The person is a spouse of an Indian citizen or a person referred to in sub-clause<br>

(a) or (b)<br>

Documentation, Terms &amp; Conditions for PIO/OCI card holders:<br>

- Copy of passport along with PIO/OCI Card<br>

- A recent photograph<br>

- Permanent address along with the proof (if different from mailing address)<br>

- Pan card or Form 60 where premium (total annualized premium under all<br>

policies) paid is 50,000 &amp; above<br>

- Copy of bank account in India/NRE Account<br>

- Proof of employment<br>

- Income proof &amp; age proof<br>

- NRI Questionnaire (refer to the Annexure)<br>

- Email ID<br>

- Medical tests to be done in India only (wherever applicable)<br>

- Term plans will not be offered<br>

- No riders will be offered<br>

- Policies will be issued in India and in Indian Rupees only<br>

<br>

Please note - Acceptance of the proposal will be at the sole discretion of SBI Life<br>

after evaluating all the information received.<br>

<br>

WHO IS NRI - FREQUENTLY ASKED QUESTIONS (FAQS)<br>

<br>

Who is an NRI?<br>

A Non Resident Indian is considered as an Indian only when he/she comes back to<br>

India for employment, vocation or carrying out business work or some other<br>

reason that imply an uncertain stay in the country. In case the person comes to<br>

the country with intention of a short stay he/she may not be regarded as a<br>

resident in India.<br>

<br>

Those who take up jobs in abroad after the completion of their higher studies are<br>

regarded as NRIs. (Only from the time they take up jobs in abroad).<br>

<br>

&#39;Non Resident Indian&#39; widely termed as NRIs broadly covers three types of<br>

individuals/entities. They are as follows:<br>

<br>

Indian citizens who stay abroad for employment or for carrying on a business or<br>

vocation or for any other purpose in circumstances indicating an indefinite period<br>

of stay outside India.<br>

Indian citizens working abroad on assignments with foreign<br>

Governments/Government agencies or International/Regional Agencies like the<br>

United Nations Organization, International Monetary Fund, World Bank, etc.<br>

Officials of the Central and State Governments and Public Sector Undertakings<br>

deputed abroad on temporary assignments or posted to their offices (including<br>

Indian Diplomatic Missions) abroad.<br>

<br>

Who is a person of Indian origin (PIO)?<br>

A person is considered to be of Indian Origin (excluding countries like Pakistan,<br>

Bangladesh, Nepal, Sri Lanka or as announced by the state from time to time) if<br>

he/she at any time held an Indian passport or he/she or either of his/her parents<br>

or any of his/her grandparents was an Indian and a permanent resident in<br>

Undivided India at any time. A wife of an Indian Citizen or of a person of Indian<br>

Origin is also considered to be of Indian Origin if she may be of non-Indian<br>

parentage.<br>

<br>

Who is an NRI defined for income tax purpose?<br>

According to Income Tax Act, 1961, an individual is said to be a resident in any<br>

year if he has been in India in that year:<br>

for a period of 182 days or more; or for a period of 60 days or more and has also<br>

been in India within the preceding four years for a period of 365 days or more.<br>

However, the period of 60 days is increased to 150 days in case of citizen of India<br>

or a person of Indian Origin who has been outside India and comes on a visit to<br>

India, and to 182 days in case when a citizen of India who leaves India for<br>

purposes of employment outside India, or as a member of a crew of an Indian<br>

ship.<br>

<br>

Can NRIs buy insurance policies?<br>

Yes, NRIs can buy Life Insurance Policies issued by Insurance companies registered<br>

in India. The Policy premiums have to be paid in Indian Rupees.<br>

<br>

Are Green Card holders and foreign Nationals of Indian origin treated as NRIs?<br>

<br>

No, Green Card holders and Foreign Nationals of Indian origin are not treated as<br>

NRIs for the purpose of allowing Insurance. They are treated as Foreigners and<br>

the underwriting rules as those prescribed for foreigners will be applicable.<br>

<br>

In which currency can NRIs buy insurance policies?<br>

The NRIs will be allowed insurance policies in Indian Rupee Currency only.<br>

<br>

When can NRIs/ Foreign Nationals of Indian origin buy insurance policies?<br>

NRIs/Foreign National can buy insurance on their visit to India. All the formalities<br>

of proposal completion, medical examination reports/Special reports and Moral<br>

hazard report are required to be completed during their stay in India.<br>

They can also buy insurance from their present country of residence through Mail<br>

Order Business. All the formalities of proposal completion, obtaining medical &amp;<br>

special reports etc are to be completed in the present country of residence (Only<br>

NRIs).<br>

<br>

Which plan can NRIs buy?<br>

All plans are allowed for NRIs subject to few restrictions.<br>

<br>

How are the premiums for NRI policies paid?<br>

The premium can be paid by any of the following manner<br>

<br>

By cheques drawn on his/her Non-Resident (External) Account or Foreign<br>

Currency (Non-Resident) Account with a Bank in India (or Joint Account provided<br>

the policyholder is one of the account holders)<br>

<br>

By cheques drawn on bank accounts held in India in their own names, either<br>

solely or jointly with the resident member of their family i.e. father, mother,<br>

husband, wife, children, brother or sister whether the accounts have been<br>

designated as non-resident or not.<br>

By cheques drawn on an account maintained by a resident parent or spouse of<br>

the non-resident policyholder with a bank in India, held solely or jointly with their<br>

close relatives. If the life assured is a bonafied student, premiums can be accepted<br>

if paid in India, by somebody else on his behalf.<br>

By the absolute assignee in India wherever such policies have been assigned to a<br>

resident in India.<br>

By the employers in respect of policies issued to their employees who have been<br>

deputed abroad by them.<br>

Premiums can be paid in cash by a resident parent or spouse of the Non-Resident<br>

policyholder subject to his/her submitting a letter stating the relationship with<br>

the policyholder.<br>

<br>

How are the claims settled?<br>

The settlement of claims (in rupee) of life insurance policies in favour of claimants<br>

residing outside India will be permitted in foreign currency only in proportion in<br>

which the amount of premiums paid in foreign currency is in relation to the total<br>

premiums payable.<br>

<br>

How are the claims settled for beneficiaries?<br>

For Non-Resident Beneficiaries: Non-resident beneficiaries of Insurance<br>

claims/maturity/surrender value settled in foreign currency may be permitted to<br>

<br>

credit the same to NRE (Non-Resident External)/ FCNR (Foreign Currency Non-<br>

Resident) Account if they so desire.<br>

Claims/maturity proceeds/Surrender Value in respect of rupee life insurance<br>

policies issued to non-resident Indians for which premiums have been collected in<br>

non-repatriable rupees may be paid only in rupees by credit to NRO (Non-<br>

Resident Ordinary) account of the beneficiary. This would apply in cases of death<br>

claims being settled in favour of non-resident assignees.<br>

For Resident Beneficiaries: Resident beneficiaries of Insurance<br>

claims/maturity/Surrender values settled in foreign currency may be permitted to<br>

credit the same to RFC (Resident Foreign Currency) Account if they so desire<br>

<br>

Which laws in India govern the investments done by NRIs in Life Insurance<br>

Policies?<br>

Life Insurance Policies bought by NRIs in India are governed by the regulations<br>

issued by the Reserve Bank of India (RBI). These regulations are known as the Life<br>

Insurance Manual.<br>

<br>

How are the medical tests done?<br>

On their visit to India. All the formalities of proposal completion, medical<br>

examination reports/Special reports and Moral hazard report are required to be<br>

completed during their stay in India.<br>

From their present country of residence through Mail Order Business. All the<br>

formalities of proposal completion, obtaining medical &amp; special reports etc, are to<br>

be completed in the present country of residence (Applicable to NRIs only).<br>

</strong> 
</p>
</div>


<!-- </div> -->


{% endblock content %}
