{% extends 'institute/base_public_pages.html' %}

{% block title %}Profile{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center"    >
        <p>
            <strong>
                About Us <br>

WELCOME TO KP FINCARE  <br>
I am Pradeep Naidu, the founder of KP Fincare, A Visakhaptnam based Insurance <br>
and Wealth services provider. We are Insurance Regulatory and Development <br>
Authority (IRDA) licensed advisors who will take care of your smallest query, <br>
Qualifying Member for MDRT/ JOTC and Member for Country Head Club.
<br>
We specialize in Wealth Management Services and Insurance Consultancy <br>
services for all types of Insurances, such as Pension Plan, Health Insurance, Term <br>
Insurance, Children education/ Marriage/ Securing future, Financial Planning etc. <br>
We offer a wide range of plans of SBI Life to suits your diverse needs. Our <br>
investment advice is absolutely tailored to fit the client&#39;s short term and long term <br>
capital requirements. <br>

Currently, we are offering Home loans, Commercial LAP loan services besides <br>
insurance products. We have been awarded multiple times by leading <br>
organization – SBI Life, SBI Home Loans and IDBI Home Loans for outstanding <br>
performance and service to clients. We will be glad to assist you or your near ones <br>
in understanding your Insurance and financial needs, analyzing reviewing your <br>
Insurance portfolio and helping you find the best tailor made solution. <br>

We provide customized Wealth Solutions which help people to achieve their <br>
long term and medium term financial goals through effective financial planning. <br>
Over the last 8 years, we have been providing a suite of Insurance and Investment <br>
solutions to our 1280+ Indian and Non-resident Indian (NRI) families and <br>
individual clients in retirement planning, child’s education planning, financial <br>
protection against any unforeseen events etc. We offer a wide range of plans of <br>
SBI Life to suits your diverse needs. Our clients include salaried, businessmen, <br>
students, professionals, housewives, government employees and retired people. <br>

OUR SERVICES: <br>

1) All Services related to SBI Life  <br>
2) Mediclaim & Health Insurance <br>
3) Planning for Retirement & Tax free Pension  <br>
4) Employer-Employee Scheme <br>
5) Financial Planning for Children education and marriage <br>
6) M.W.P.A. <br>
7) Group Health Insurance <br>
8) Partnership Insurance <br>
9) Key Man Insurance <br>

OUR ADDITIONAL SERVICES:
<br>
1) Claim Settlement <br>
2) Survival Benefit Dues <br>

3) Maturity Dues <br>
4) Death Claims <br>
5) Loan Facilities <br>
6) Surrender of policies <br>
7) Change of mode/ Change of Nominee/ Change of Address/ NEFT Registration <br>
etc. <br>

STAFF PROFILE: <br>

Well-trained, courteous  professional staff  <br>

Vision <br>
To secure the financial future of as many families as possible by providing the best <br>
advisory services & customized solutions to make their dreams comes true. To be <br>
ranked among the top most life insurance advisors in India.
<br>
Testimonials  <br>

Dr. KNR  <br>
The service and investment advice provide by Mr. Pradeep Naidu is extraordinary. <br>
I like their confident and customer friendly attitude with a door step service <br>
approach. <br>

Dr. Ramesh Kumar Manchala <br>

Mr. Pradeep Naidu has been taking care of my investment portfolio from many <br>
years. He is very trustworthy and offers me the best advice in investing. I feel he is <br>
one of the best financial planners in the market today. <br>

A. Balareddy <br>
Mr. Pradeep knows his business quite well. He has provided me with excellent <br>
services which have helped to grow my wealth and secure my family. <br>
            </strong>
        </p>    
    </div>

   
<!-- </div> -->


{% endblock content %}
  