{% extends 'institute/base_public_pages.html' %}

{% block title %}ResourceCentre{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<!-- <div class="container main-container"> -->
    <div class="text-center">
           <p>
            <strong> <strong> Resource Centre <br></strong><br>
                Online Premium Payment                                      <br>
                Free door step services:<br>
                Premium Collection of SBI Life Policy<br>
                Aadhar and PAN Number registration in SBI Life Policy<br>
                Payment Mode Change of SBI Life Policy<br>
                Address Change in SBI Life Policy<br>
                Bank Account (ECS) registration in your SBI Life Policy<br>
                Tax Certificate for Premium Paid of SBI Life Policy<br>
                Loan Related Service of SBI Life Policy<br>
                Nomination Related Query on SBI Life Policy<br>
                Assignment Related Query of SBI Life Policy<br>
                Check the Status of SBI Life Policy<br>
                Money-Back / Maturity Related Query of SBI Life Policy<br>
                Re-Start SBI Life Policy If Not Paid Since Long Time<br>
            <strong>Important videos</strong></strong> 
           </p>
    </div>

   
    <!-- </div> -->
    
    
    {% endblock content %}
      