{% extends 'institute/base_public_pages.html' %}

{% block title %}SBI LIFE INFO{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  

<div class=" text-center ">

<strong>
<strong>


SBI Life Information <br>
</strong>

SBI Life Products <br>

SAVING PLANS<br>
SBI Life - Smart Platina Plus<br>
111N133V01<br>
It's the little things in life that makes every moment more joyful. Have the<br>
assurance of that extra happiness and extra achievement with SBI Life - Smart<br>
Platina Plus which provides a regular guaranteed long term income so that you<br>
can go ahead and live a little more.<br>
Key Benefits:<br>
- Enjoy regular Guaranteed income during payout period<br>
- Flexibility to suit your life goals<br>
Key Benefits: Enjoy regular Guaranteed income during payout period & Flexibility<br>
to suit your life goals
<br>
Savings Plan| Guaranteed Returns| Long Term<br>

Download Brochure<br>
Click to Call
<br>
SBI Life - Smart Platina Assure<br>

111N126V04<br>
SBI Life - Smart Platina Assure, an individual, non-linked, non-participating life<br>
endowment assurance savings product which assures guaranteed returns with an<br>
advantage of paying premiums for a limited term.<br>
Key Benefits:<br>
- Premium payment for 6 or 7 years<br>
- Assurance of Guaranteed Maturity Benefit^ in lumpsum<br>
- Reliability of Guaranteed Additions# to boost corpus<br><br>
- Life Cover along with assured return and tax benefit<br>
Life Insurance| Savings Plan| Guaranteed Additions| Monthly Mode| SBI Life -<br>
Smart Platina Assure<br>

Download Brochure<br>
Click to Call<br>

SBI Life – Shubh Nivesh<br>
111N055V04<br>
Now avail insurance coverage and make an auspicious start with regular income.<br>
SBI Life – Shubh Nivesh, a with-profit endowment assurance plan, provides<br>
insurance cover, savings and income under a single plan.<br>
Key Benefits:<br>

- Option of whole life insurance<br>
- Option to receive regular flow of income.<br>
Savings Plan| SBI Life – Shubh Nivesh| Endowment Plan| Whole Life Insurance<br>
Download Brochure<br>
Click to Call<br>

SBI Life – Smart Bachat<br>
111N108V03<br>
Safeguard your family's future and meet your investment needs wisely with SBI<br>
Life – Smart Bachat.<br>
Key Benefits:<br>
- Limited premium payment term<br>
- Life cover along with option of in-built Accident Benefit<br>
Traditional Plan| Endowment Plan| SBI Life – Smart Bachat| Limited Premium<br>
Payment Term| Participating Plan| Savings Plan<br>

Download Brochure<br>
Click to Call<br>

SBI Life – Smart Swadhan Plus<br>

111N104V02<br>
Now get protection at a nominal cost, with the added benefit of getting your<br>
premiums back. With SBI Life – Smart Swadhan Plus, get guaranteed return of<br>
premiums and assurance of protecting your family in case of in-force policies.<br>
Key Benefits:<br>
- Protection at reasonable cost<br>
- Refund of premiums<br>
SBI Life - Smart Swadhan Plus| Protection| Security| Return of Premium<br>

Download Brochure<br>
Click to Call
<br>
SBI Life – Saral Swadhan+<br>
111N092V03<br>
Now get a fixed life cover throughout the policy term along with a guaranteed<br>
maturity benefit with SBI Life - Saral Swadhan+<br>
Key Benefits:<br>
- Life cover throughout the policy term<br>
- Fixed maturity benefit<br>
Traditional Plan| SBI Life Saral Swadhan+| Return of Premium| Term Plans<br>
Download Brochure<br>
Click to Call
<br>
Protection Plans<br>

SBI Life - Arogya Shield<br>
SBIHLIP22158V012122<br>

Secure both Health & Life with Arogya Shield –a health plus life combi product<br>
that offers you a comprehensive health cover for medical emergencies and an<br>
assured life cover to secure your loved ones.<br>
Key Benefits:<br>
- Standard Term plan – with Simple terms & conditions<br>
- Health and Pure Term Life Cover under a single plan<br>
Arogya Shield | Combi plan | Term plan | Health cover<br>

Download Brochure<br>
Click to Call<br>


SBI Life - Saral Jeevan Bima<br>
111N128V01<br>
Now get Protection and security for your family with a standard term plan at an<br>
affordable cost. With SBI Life - Saral Jeevan Bima a pure term plan ensure that<br>
your family is financially protected in case of any unforeseen circumstances.<br>
Key Benefits:<br>

- Security for your family with a standard term plan at an affordable cost<br>
- Tax benefits* as per prevailing norms under the Income Tax Act, 1961.<br>
Protection Plans| Non - Linked| Saral Jeevan Bima| Individual<br>

Download Brochure<br>
Click to Call
<br>
SBI Life- Smart Shield<br>
111N067V07<br>

Now give them adequate protection to meet their financial needs. Apply for SBI<br>
Life – Smart Shield, a pure term plan, and get peace of mind, knowing that your<br>
family is financially secured.<br>
Key Benefits:<br>
- Pure term plan that offers option of Level Term Assurance and Increasing Term<br><br>
Assurance<br>
- Enhance your coverage through two rider# options at a nominal cost<br>
- Protect your family's financial future against an eventuality along with Tax<br>
Benefits<br>
Traditional plan| Protection Plans| Term plan| SBI Life – Smart Shield| Increasing<br>
Term Assurance
<br>
Download Brochure<br>

Click to Call<br>

SBI Life-Sampoorn Cancer Suraksha<br>
111N109V03
<br>
Cancer comes with a cost, both physical and emotional. However, being ready<br>
helps you fight back. So plan for it with SBI Life - Sampoorn Cancer Suraksha, that<br>
offers you complete financial support at every stage of your treatment so that<br>
today you remain liberated from worrying about Cancer and more focused on<br>
defeating it.<br>
Key Benefits:<br>
- Easy Payout on diagnosis<br>
- Option to avail Monthly Income Benefit<br>
- Comprehensive Cancer Insurance product with choice of 3 benefit Structures*<br>
- In built Premium Waiver benefit#<br>
Health Insurance | Cancer Insurance Policy | SBI Life - Sampoorn Cancer Suraksha
<br>
Download Brochure<br>
Click to Call<br>

SBI Life – Grameen Bima<br>

111N087V02<br>
Protect your family at an affordable premium with SBI Life – Grameen Bima. SBI<br>
Life – Grameen Bima is a pure term, micro-insurance plan that helps you provide<br>
financial security for your family at reasonable premium.<br>
Key Benefits:<br>
- Protection at an affordable premium<br>
- No medical examination required<br>
Protection Plans| Term plan| SBI Life – Grameen Bima| Micro Insurance<br>

Download Brochure<br>
Click to Call<br>

WEALTH CREATION PLANS<br>

SBI Life-Smart Wealth Builder<br>

111L095V03<br>

It’s time to start investing today to reap the benefits tomorrow. With SBI Life –<br>
Smart Wealth Builder, avail the benefit of enhanced investment opportunity by<br>
investing in one or many investment funds.<br>

Key Benefits:<br>
- Guaranteed additions#<br>
- Enhanced investment options<br>

Unit Linked Plan| SBI Life – Smart Wealth Builder| Guaranteed Additions| Life<br>
Insurance| Multiple Funds<br>

Download Brochure<br>
Click to Call<br>

SBI Life – Smart Power Insurance<br>
111L090V02<br>
SBI Life - Smart Power Insurance provides two fund options, that gives you the<br>
independence to actively manage investments as per your choice or benefit from<br>
our expertise to balance your portfolio against market volatility.<br>
Key Benefits:<br>
- Two plan options<br>
- Two Fund Options to choose<br>

Individual Plans| ULIP| SBI Life - Smart Power Insurance| Wealth| Protection|<br>
Security<br>

Download Brochure<br>
Click to Call
<br>
SBI Life-Smart Privilege<br>
111L107V03<br>

Presenting SBI Life – Smart Privilege for UHNIs like you, grow your wealth by<br>
choosing from among 11 funds with unlimited free switches and redirections.<br>
Also, enjoy the benefit of insurance coverage as you multiply your investments.<br>
Key Benefits:<br>
- Specially crafted for UHNIs (Ultra High Net-worth Individuals)<br>
- Regular loyalty additions<br>

ULIP| Wealth Creation| SBI Life – Smart Privilege| UHNI| Life Insurance<br>

Download Brochure<br>
Click to Call<br>

RETIREMENT PLANS<br>
SBI Life – Retire Smart Plus<br>
111L135V01
<br>
Ensure that the financial stability you enjoy today to explore various aspects of<br>
life continues even after you retire with SBI Life- Retire Smart Plus. It enables you<br>
to build the corpus you need to live comfortably in the second innings of your life.<br>
Key Benefits:<br>
- Retirement corpus creation through market linked returns with choice of 07<br>
varied fund options<br>
- Flexibility to cater to your changing needs.<br>
- Loyalty Additions and Terminal Addition to boost fund value.
<br>
ULIP| Retirement Plans| SBI Life – Retire Smart Plus| Security| Insurance|<br>
Pension
<br>
Download Brochure<br>
Click to Call<br>

SBI Life – Retire Smart<br>
111L094V02 <br>
Make your retirement, a &#39;no compromise&#39; phase of your life. Plan smart and early<br>
to make it financially liberating, while you sit back and enjoy. With SBI Life - Retire<br>
Smart, build a guaranteed corpus by safeguarding against market volatility.<br>
Key Benefits:<br>

- Safeguarding against market volatility through the 'Advantage Plan'<br>
- Minimum assured maturity amount<br>
ULIP| Retirement Plans| SBI Life – Retire Smart| Security| Insurance| Pension<br>
Download Brochure<br>

Click to Call<br>

SBI Life – Saral Pension<br>
111N130V02<br>
With SBI Life - Saral Pension, you have two annuity options to select from and by<br>
making one time payment, avail guaranteed regular pension/annuity for rest of<br>
the your life.<br>
Key Benfits:<br>
- Regular Income for Lifetime with Return of Purchase Price.<br>
- Option to surrender on being diagnosed with specified CI.<br>
Traditional| Retirement Plans| SBI Life – Saral Pension| retirement corpus|<br>
pension plans<br>
Download Brochure<br>
Click to Call<br>

SBI Life - Smart Annuity Plus
<br>
111N134V03<br>
Achieve a stress-free retirement with the regular guaranteed income provided by<br>
SBI Life- Smart Annuity Plus. This is an annuity plan that offers both immediate<br>
and deferred annuity options as well as joint life options that financially secures<br>
your loved ones while ensuring you a relaxed retired life.<br>
Key Benefits:<br>
- Freedom to choose from wide range of Annuity Options<br>
- Benefit of higher annuity payouts for large premium<br>
Retirement Plans| SBI Life - Smart Annuity Plus| Immediate Annuity| Online Plan|<br>
National Pension System| NPS| Deferred Annuity<br><br>

Download Brochure<br>
Click to Call<br>

Business Insurance<br>
MWP<br>
(Picture only)<br>
Key Man<br>
(Picture only)<br>
Employer Employee<br>
(Picture only)<br>

Bonus Rate<br>
Branch Locator<br>
</strong>
</div>

{% endblock content %}